.buttonRow {
  display: flex;
  max-width: 42rem;
  margin: auto;
}

.buttonRow button {
  margin-right: 10px;
}

.passageContent {
  display: flex;
}

.passageContent p {
  flex: 1;
  margin-right: 10px;
  max-width: 37rem;
}
